#template__footer__main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: darkgreen;
	gap: 3em;

	button {
		background-color: coral;
		color: white;
		border: none;
		border-radius: 2rem;
		padding: 8px 16px;
		margin: 3rem;
		font-size: 1.8rem;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
		    background-color: lightgray;
		    color: black;


		}
	}
}

#template__footer__version {
	margin-top: 5px;
	font-size: 1.9rem;
	color: lightyellow;
	margin: auto 0;
}
