{% extends "base.html" %} {% block title %} {{ title }} {{ code  }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}

<div id="error">
  <section id="error__block">
    <aside id="error__block__header">
      <h1>ERROR</h1>
    </aside>
    <aside id="error__block__body">
      <button
      hx-get="/"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="click">
      TRY AGAIN
    </button>
    <button
      hx-get="/"
      hx-target="#template_pages"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="click">
      HOME
    </button>
    </aside>
  </section>
  
</div>

{% call super() %} {% endblock %}
