{% extends "base.html" %} {% block title %} {{ title }} {{ version  }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}

<div id="main">
  <section id="main__paths">
    <div hx-ext="response-targets">
      <button
        hx-get="/about"
        hx-target="#main__info_cards"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-trigger="click"
        hx-target-error="#any_error">
        ABOUT
      </button>    
      <div id="any_error"></div>
    </div>
  </section>
  <section id="main__info_cards">    
    {% if is_logged_in %}    
    {% include "parts/posts.part.html" %}
    {% include "parts/journal_form.part.html" %}
    {% endif %}
  </section>
</div>

<footer>
  <section id="footer_container">
    <button
      hx-get="/contact"
      hx-target="#main__info_cards"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="click">
      CONTACT
    </button>
    <button
      hx-get="https://facebook.com"
      hx-push-url="true"
      hx-target="_blank"
      hx-trigger="click">
      FACEBOOK
    </button>
    <button
      hx-get="https://x.com"
      hx-push-url="true"
      hx-target="_top"
      hx-trigger="click">
      TWITTER
    </button>
    <button
      hx-get="https://instagram.com"
      hx-push-url="true"
      hx-target="_top"
      hx-trigger="click">
      INSTAGRAM
    </button>
    <button
      hx-get="/about"
      hx-push-url="true"
      hx-target="#main__info_cards"
      hx-swap="innerHTML"
      hx-trigger="click">
      ABOUT
    </button>
  </section>
  <aside id="footer_container__version">
    V.{{ version }}
  </aside>
</footer>

{% call super() %} {% endblock %}
