{% extends "base.html" %} {% block title %} {{ title }} {{ version  }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}

<div id="main">
  <section id="main__paths">
    <div hx-ext="response-targets">
      <button
        hx-get="/about"
        hx-target="#main__info_cards"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-trigger="click"
        hx-target-error="#any_error">
        ABOUT
      </button>    
      <div id="any_error"></div>
    </div>
  </section>
  <section id="main__info_cards">
    {% for (i,card) in content.iter().enumerate() %}
    <div class="card">
      <div class="card__header">
        <img src="https://i.pravatar.cc/30{{i + 1}}" alt="card image">
        <h2> Title: {{ card.get_title() }}  </h2>
        <h3> Author: {{card.get_author()}} </h3>
      </div>
      <div class="card__text" id="card__{{i}}">
        <p>
          {{ card.get_body() }}
        </p>
      </div>
    </div>
    {% endfor %}
    {% if is_logged_in %}
    {% include "parts/journal_form.html" %}
    {% endif %}
  </section>
</div>

<footer>
  <section id="footer_container">
    <button
      hx-get="/contact"
      hx-target="#main__info_cards"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="click">
      CONTACT
    </button>
    <button
      hx-get="https://facebook.com"
      hx-push-url="true"
      hx-target="_blank"
      hx-trigger="click">
      FACEBOOK
    </button>
    <button
      hx-get="https://x.com"
      hx-push-url="true"
      hx-target="_top"
      hx-trigger="click">
      TWITTER
    </button>
    <button
      hx-get="https://instagram.com"
      hx-push-url="true"
      hx-target="_top"
      hx-trigger="click">
      INSTAGRAM
    </button>
    <button
      hx-get="/about"
      hx-push-url="true"
      hx-target="#main__info_cards"
      hx-swap="innerHTML"
      hx-trigger="click">
      ABOUT
    </button>
  </section>
  <aside id="footer_container__version">
    V.{{ version }}
  </aside>
</footer>

{% call super() %} {% endblock %}
